@import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

body {
    padding-top: 70px;
    font-family: 'Lato', sans-serif;
}

#overview {
    overflow: auto;
    zoom: 1;
}

#overview section {
    width: 50%;
    float: left;
}

/* HEADER */

header .form-group {
 margin: 0 15px;
}

.dark-bg {
    background: rgba(54,66,74,1);
    border-bottom: 1px solid #f1f2f7;
}

/* INFO BOX */

.info-box {
  background-color: #aaa;
  min-height: 150px;
  margin-bottom: 30px;
  padding: 10px;
  color: white;
  overflow: auto;
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
}

.ct-label {
    font-size: 16px !important;
}

    .info-box i {
      display: block;
      height: 130px;
      font-size: 60px;
      line-height: 100px;
      width: 100px;
      float: left;
      text-align: center;
      margin-right: 10px;
      padding-right: 20px;
      color: rgba(255, 255, 255, 0.75);
    }

    .info-box p {
      margin-top: 24px;
      font-size: 40px;
      font-weight: 700;
    }
    .info-box h2 {
      margin-top: 0;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 600;
    }

.info-box p.smaller {
    margin-top: 32px;
    font-size: 34px;
}

ul.sections, blockquote, li.section.speaker h2 {
    margin: 0;
    padding: 0;
}

ul.sections {
    list-style: none;
}
    li.section {
        margin-bottom: 2em;
    }

    li.section.speaker {
        overflow: auto;
    }
        li.section.speaker header {
            margin-right: 20px;
            float: left;
        }
        li.section.speaker section {
            background-color: #89C4F4;
            width: 860px;
            padding: 15px;
            float: left;
            position: relative;
        }
        li.section.speaker section:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 15px 15px 0 0;
            border-color: transparent #89C4F4;
            display: block;
            width: 0;
            z-index: 1;
            left: -15px;
            top: 50px;
            }
        li.section.speaker:nth-child(odd) section {
            background-color: #C5EFF7;
        }
        li.section.speaker:nth-child(odd) section:after {
            border-color: transparent #C5EFF7;
        }
        li.section.speaker section h2 {
            margin-bottom: 5px;
        }
        li.section.speaker img {
            height: 110px;
            width: 90px;
        }
        li.section.speaker blockquote {
            line-height: 1.4em;
        }

blockquote {
    border-left: none;
}
